body {
  text-align: center;
  background-color: #212324;
}

#level-title {
  font-family: "JetBrains Mono";
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid rgb(72, 65, 65);
  border-radius: 20%;
  box-shadow: 10px -9px 27px 11px rgba(20, 20, 20, 0.84);
  -webkit-box-shadow: 10px -9px 27px 11px rgba(20, 20, 20, 0.84);
  -moz-box-shadow: 10px -9px 27px 11px rgba(20, 20, 20, 0.84);
}
.btn:hover {
  transform: scale(1.03);
  transition: all ease-in-out 100ms;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
